<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="rgbpx.BlankAppPublishDemo"
    Publisher="CN=rgbpx Software, O=rgbpx Corporation, C=RU"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>BlankAppPublishDemo</DisplayName>
    <PublisherDisplayName>rgbpx</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <!-- Embeds: Strings/en-US/Resources.resw -->
    <!-- The language script folders after building .msix is for installer only (this option is not responsible for them) -->
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="rgbpx.BlankAppPublishDemo"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="BlankAppPublishDemo"
        Description="Blank app publish demo"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <!-- Required for WinUI 3 (do not change) -->
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
